In [1]:
import pandas as pd
data={'Name':['Ovi','Rizvi','Tamim','Azan','Rifat','Ovi','Sagor','Sahin','Sagor'],
      'ID':[20,41,17,38,40,20,10,29,30],
      'Score':[3.2,3.65,3.35,3.1,3.6,3.2,3.5,3.38,3.5]}
Result=pd.DataFrame(data)
print(Result)

    Name  ID  Score
0    Ovi  20   3.20
1  Rizvi  41   3.65
2  Tamim  17   3.35
3   Azan  38   3.10
4  Rifat  40   3.60
5    Ovi  20   3.20
6  Sagor  10   3.50
7  Sahin  29   3.38
8  Sagor  30   3.50

In [2]:
Result.to_csv('Result.csv')