### A Excel spreadsheet can contain more than one csv file in it. So there are posibilitise of having more than one sheet in each xlsx file. 

### So, first we need to find how many sheets we have in the excel file. Than we need to choose the specific file we want to work with.

To read xlsx file, we need pd.ExcelFile()

Import xlsx file and find how many sheets in the file

In [2]:
import pandas as pd
df=pd.ExcelFile('/content/drive/MyDrive/DataCamp/Data/battledeath.xlsx')
df.sheet_names

['2002', '2004']

So, there are 2 sheets named 2002 and 2004

Now, import only 2002 sheet from df file and rename the column with `names` argument

In [7]:
df1=df.parse('2002',names=['Country','2002'])
df1.head()

       Country       2002
0  Afghanistan  36.083990
1      Albania   0.128908
2      Algeria  18.314120
3      Andorra   0.000000
4       Angola  18.964560

Now, import only 2004 sheet from df file with only 1st column and rename the column with `names` argument and skip the 1st and 3rd row

In [10]:
df2=df.parse('2004',usecols=[0],skiprows=[0,2],names=['Country name'])
df2.head()

          Country name
0              Algeria
1              Andorra
2               Angola
3  Antigua and Barbuda
4            Argentina

If we use skiprows or usecols with [ ], then we can specify the exact row or col. Like `skiprows=[3]`, than it will skip the 4th row only.

But if we use directly like `skiprows=3`, than it will skip first 3 rows