# **JavaScript Object Notation**


The function json.load() will load the JSON into Python as a dictionary. 
JSONs consist of key-value pairs.

In [1]:
import json
import pandas as pd
with open('/content/drive/MyDrive/DataCamp/Data/a_movie.json') as file:
  data=json.load(file)
print(type(data))

<class 'dict'>

In [2]:
df = pd.DataFrame(data)
df.head()

,Ratings,Country,imdbVotes,Rated,Plot,Genre,Response,Released,Language,DVD,...,Writer,Year,Metascore,Type,Runtime,Website,imdbID,Actors,Awards,BoxOffice
0,"{'Source': 'Internet Movie Database', 'Value':...",USA,"550,434",PG-13,Harvard student Mark Zuckerberg creates the so...,"Biography, Drama",True,01 Oct 2010,"English, French",11 Jan 2011,...,"Aaron Sorkin (screenplay), Ben Mezrich (book)",2010,95,movie,120 min,http://www.thesocialnetwork-movie.com/,tt1285016,"Jesse Eisenberg, Rooney Mara, Bryan Barter, Du...",Won 3 Oscars. Another 165 wins & 168 nominations.,"$96,400,000"
1,"{'Source': 'Rotten Tomatoes', 'Value': '95%'}",USA,"550,434",PG-13,Harvard student Mark Zuckerberg creates the so...,"Biography, Drama",True,01 Oct 2010,"English, French",11 Jan 2011,...,"Aaron Sorkin (screenplay), Ben Mezrich (book)",2010,95,movie,120 min,http://www.thesocialnetwork-movie.com/,tt1285016,"Jesse Eisenberg, Rooney Mara, Bryan Barter, Du...",Won 3 Oscars. Another 165 wins & 168 nominations.,"$96,400,000"
2,"{'Source': 'Metacritic', 'Value': '95/100'}",USA,"550,434",PG-13,Harvard student Mark Zuckerberg creates the so...,"Biography, Drama",True,01 Oct 2010,"English, French",11 Jan 2011,...,"Aaron Sorkin (screenplay), Ben Mezrich (book)",2010,95,movie,120 min,http://www.thesocialnetwork-movie.com/,tt1285016,"Jesse Eisenberg, Rooney Mara, Bryan Barter, Du...",Won 3 Oscars. Another 165 wins & 168 nominations.,"$96,400,000"

In [3]:
for key, value in data.items():
  print(key + ':', value)

Ratings: [{'Source': 'Internet Movie Database', 'Value': '7.7/10'}, {'Source': 'Rotten Tomatoes', 'Value': '95%'}, {'Source': 'Metacritic', 'Value': '95/100'}]
Country: USA
imdbVotes: 550,434
Rated: PG-13
Plot: Harvard student Mark Zuckerberg creates the social networking site that would become known as Facebook, but is later sued by two brothers who claimed he stole their idea, and the co-founder who was later squeezed out of the business.
Genre: Biography, Drama
Response: True
Released: 01 Oct 2010
Language: English, French
DVD: 11 Jan 2011
Poster: https://m.media-amazon.com/images/M/MV5BMTM2ODk0NDAwMF5BMl5BanBnXkFtZTcwNTM1MDc2Mw@@._V1_SX300.jpg
Production: Columbia Pictures
Director: David Fincher
Title: The Social Network
imdbRating: 7.7
Writer: Aaron Sorkin (screenplay), Ben Mezrich (book)
Year: 2010
Metascore: 95
Type: movie
Runtime: 120 min
Website: http://www.thesocialnetwork-movie.com/
imdbID: tt1285016
Actors: Jesse Eisenberg, Rooney Mara, Bryan Barter, Dustin Fitzsimons
Awards: Won 3 Oscars. Another 165 wins & 168 nominations.
BoxOffice: $96,400,000

# **JSON–from the web using API**

In [5]:
import requests
url = 'http://www.omdbapi.com/?apikey=72bc447a&t=social+network'

# Package the request, send the request and catch the response
r = requests.get(url)

# Print the text of the response
print(r.text)

{"Title":"The Social Network","Year":"2010","Rated":"PG-13","Released":"01 Oct 2010","Runtime":"120 min","Genre":"Biography, Drama","Director":"David Fincher","Writer":"Aaron Sorkin, Ben Mezrich","Actors":"Jesse Eisenberg, Andrew Garfield, Justin Timberlake","Plot":"As Harvard student Mark Zuckerberg creates the social networking site that would become known as Facebook, he is sued by the twins who claimed he stole their idea and by the co-founder who was later squeezed out of the business.","Language":"English, French","Country":"United States","Awards":"Won 3 Oscars. 173 wins & 186 nominations total","Poster":"https://m.media-amazon.com/images/M/MV5BOGUyZDUxZjEtMmIzMC00MzlmLTg4MGItZWJmMzBhZjE0Mjc1XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg","Ratings":[{"Source":"Internet Movie Database","Value":"7.8/10"},{"Source":"Rotten Tomatoes","Value":"96%"},{"Source":"Metacritic","Value":"95/100"}],"Metascore":"95","imdbRating":"7.8","imdbVotes":"714,219","imdbID":"tt1285016","Type":"movie","DVD":"11 Jan 2011","BoxOffice":"$96,962,694","Production":"N/A","Website":"N/A","Response":"True"}

In [6]:
# Decode the JSON data into a dictionary
json_data = r.json()

# Print each key-value pair in json_data
for k in json_data.keys():
    print(k + ': ', json_data[k])

Title:  The Social Network
Year:  2010
Rated:  PG-13
Released:  01 Oct 2010
Runtime:  120 min
Genre:  Biography, Drama
Director:  David Fincher
Writer:  Aaron Sorkin, Ben Mezrich
Actors:  Jesse Eisenberg, Andrew Garfield, Justin Timberlake
Plot:  As Harvard student Mark Zuckerberg creates the social networking site that would become known as Facebook, he is sued by the twins who claimed he stole their idea and by the co-founder who was later squeezed out of the business.
Language:  English, French
Country:  United States
Awards:  Won 3 Oscars. 173 wins & 186 nominations total
Poster:  https://m.media-amazon.com/images/M/MV5BOGUyZDUxZjEtMmIzMC00MzlmLTg4MGItZWJmMzBhZjE0Mjc1XkEyXkFqcGdeQXVyMTMxODk2OTU@._V1_SX300.jpg
Ratings:  [{'Source': 'Internet Movie Database', 'Value': '7.8/10'}, {'Source': 'Rotten Tomatoes', 'Value': '96%'}, {'Source': 'Metacritic', 'Value': '95/100'}]
Metascore:  95
imdbRating:  7.8
imdbVotes:  714,219
imdbID:  tt1285016
Type:  movie
DVD:  11 Jan 2011
BoxOffice:  $96,962,694
Production:  N/A
Website:  N/A
Response:  True

In [7]:
# convert into a dataframe
df1 = pd.DataFrame(json_data)
df1.head()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,The Social Network,2010,PG-13,01 Oct 2010,120 min,"Biography, Drama",David Fincher,"Aaron Sorkin, Ben Mezrich","Jesse Eisenberg, Andrew Garfield, Justin Timbe...",As Harvard student Mark Zuckerberg creates the...,...,95,7.8,"714,219",tt1285016,movie,11 Jan 2011,"$96,962,694",N/A,N/A,True
1,The Social Network,2010,PG-13,01 Oct 2010,120 min,"Biography, Drama",David Fincher,"Aaron Sorkin, Ben Mezrich","Jesse Eisenberg, Andrew Garfield, Justin Timbe...",As Harvard student Mark Zuckerberg creates the...,...,95,7.8,"714,219",tt1285016,movie,11 Jan 2011,"$96,962,694",N/A,N/A,True
2,The Social Network,2010,PG-13,01 Oct 2010,120 min,"Biography, Drama",David Fincher,"Aaron Sorkin, Ben Mezrich","Jesse Eisenberg, Andrew Garfield, Justin Timbe...",As Harvard student Mark Zuckerberg creates the...,...,95,7.8,"714,219",tt1285016,movie,11 Jan 2011,"$96,962,694",N/A,N/A,True

In [9]:
# save as csv
df1.to_csv('a_movie')

# **Checking out the Wikipedia API**


---

In [13]:
url='https://en.wikipedia.org/w/api.php?action=query&prop=extracts&format=json&exintro=&titles=pizza'
r = requests.get(url)
json_data = r.json()
df2 = pd.DataFrame(json_data)
df2.head()

,batchcomplete,warnings,query
extracts,,{'*': 'HTML may be malformed and/or unbalanced...,NaN
normalized,,NaN,"[{'from': 'pizza', 'to': 'Pizza'}]"
pages,,NaN,"{'24768': {'pageid': 24768, 'ns': 0, 'title': ..."

In [14]:
pizza_extract = json_data['query']['pages']['24768']['extract']
print(pizza_extract)

<link rel="mw-deduplicated-inline-style" href="mw-data:TemplateStyles:r1033289096">
<p class="mw-empty-elt">
</p>
<p><b>Pizza</b> (<span><small>English: </small></span> <i title="English pronunciation respelling"><span>PEET</span>-sə</i>, <small>Italian: </small><span title="Representation in the International Phonetic Alphabet (IPA)" lang="it-Latn-fonipa">[ˈpittsa]</span>, <small>Neapolitan: </small><span title="Representation in the International Phonetic Alphabet (IPA)" lang="nap-Latn-fonipa">[ˈpittsə]</span>) is a dish of  Italian origin consisting of a usually round, flat base of leavened wheat-based dough topped with tomatoes, cheese, and often various other ingredients (such as various types of sausage, anchovies, mushrooms, onions, olives, vegetables, meat, ham, etc.), which is then baked at a high temperature, traditionally in a wood-fired oven. A small pizza is sometimes called a pizzetta. A person who makes pizza is known as a <b>pizzaiolo</b>.
</p><p>In Italy, pizza served in a restaurant is presented unsliced, and is eaten with the use of a knife and fork. In casual settings, however, it is cut into wedges to be eaten while held in the hand.
</p><p>The term <i>pizza</i> was first recorded in the 10th century in a Latin manuscript from the Southern Italian town of Gaeta in Lazio, on the border with Campania. Modern pizza was invented in Naples, and the dish and its variants have since become popular in many countries. It has become one of the most popular foods in the world and a common fast food item in Europe, the Americas and Australasia; available at pizzerias (restaurants specializing in pizza),  restaurants offering Mediterranean cuisine, via pizza delivery, and as street food. Various food companies sell ready-baked pizzas, which may be frozen, in grocery stores, to be reheated in a home oven.
</p><p>In 2017, the world pizza market was US$128 billion, and in the US it was $44 billion spread over 76,000 pizzerias.  Overall, 13% of the U.S. population aged 2 years and over consumed pizza on any given day.</p><p>The <i>Associazione Verace Pizza Napoletana</i> (lit. True Neapolitan Pizza Association) is a non-profit organization founded in 1984 with headquarters in Naples that aims to promote traditional Neapolitan pizza. In 2009, upon Italy's request, Neapolitan pizza was registered with the European Union as a Traditional Speciality Guaranteed dish, and in 2017 the art of its making was included on UNESCO's list of intangible cultural heritage.</p><p>Raffaele Esposito is often considered to be the father of modern pizza.</p>