In [1]:
import pandas as pd

In [13]:
df=pd.read_csv('/content/drive/MyDrive/DataCamp/Data/seaslug.txt',delimiter='\t')
df

    Time  Percent
0     99    0.067
1     99    0.133
2     99    0.067
3     99    0.000
4     99    0.000
5      0    0.500
6      0    0.467
7      0    0.857
8      0    0.500
9      0    0.357
10     0    0.533
11     5    0.467
12     5    0.467
13     5    0.125
14     5    0.400
15     5    0.214
16     5    0.400
17    10    0.067
18    10    0.067
19    10    0.333
20    10    0.333
21    10    0.133
22    10    0.133
23    15    0.267
24    15    0.286
25    15    0.333
26    15    0.214
27    15    0.000
28    15    0.000
29    20    0.267
30    20    0.200
31    20    0.267
32    20    0.437
33    20    0.077
34    20    0.067
35    25    0.133
36    25    0.267
37    25    0.412
38    25    0.000
39    25    0.067
40    25    0.133
41    30    0.000
42    30    0.071
43    30    0.000
44    30    0.067
45    30    0.067
46    30    0.133

we have to use delimiter when we are importing text file with pandas.

## **Make it np array**

In [14]:
print(df.values)

[[9.90e+01 6.70e-02]
 [9.90e+01 1.33e-01]
 [9.90e+01 6.70e-02]
 [9.90e+01 0.00e+00]
 [9.90e+01 0.00e+00]
 [0.00e+00 5.00e-01]
 [0.00e+00 4.67e-01]
 [0.00e+00 8.57e-01]
 [0.00e+00 5.00e-01]
 [0.00e+00 3.57e-01]
 [0.00e+00 5.33e-01]
 [5.00e+00 4.67e-01]
 [5.00e+00 4.67e-01]
 [5.00e+00 1.25e-01]
 [5.00e+00 4.00e-01]
 [5.00e+00 2.14e-01]
 [5.00e+00 4.00e-01]
 [1.00e+01 6.70e-02]
 [1.00e+01 6.70e-02]
 [1.00e+01 3.33e-01]
 [1.00e+01 3.33e-01]
 [1.00e+01 1.33e-01]
 [1.00e+01 1.33e-01]
 [1.50e+01 2.67e-01]
 [1.50e+01 2.86e-01]
 [1.50e+01 3.33e-01]
 [1.50e+01 2.14e-01]
 [1.50e+01 0.00e+00]
 [1.50e+01 0.00e+00]
 [2.00e+01 2.67e-01]
 [2.00e+01 2.00e-01]
 [2.00e+01 2.67e-01]
 [2.00e+01 4.37e-01]
 [2.00e+01 7.70e-02]
 [2.00e+01 6.70e-02]
 [2.50e+01 1.33e-01]
 [2.50e+01 2.67e-01]
 [2.50e+01 4.12e-01]
 [2.50e+01 0.00e+00]
 [2.50e+01 6.70e-02]
 [2.50e+01 1.33e-01]
 [3.00e+01 0.00e+00]
 [3.00e+01 7.10e-02]
 [3.00e+01 0.00e+00]
 [3.00e+01 6.70e-02]
 [3.00e+01 6.70e-02]
 [3.00e+01 1.33e-01]]