## To read .sav file, we need to install 'pyreadstat' first.

In [1]:
!pip install pyreadstat

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyreadstat
  Downloading pyreadstat-1.2.0-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.7/2.7 MB 11.1 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.8/dist-packages (from pyreadstat) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.2.0->pyreadstat) (2022.7.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.2.0->pyreadstat) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=1.2.0->pyreadstat) (1.15.0)
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.2.0

In [4]:
import pandas as pd
a=pd.read_spss('/content/drive/MyDrive/DataCamp/Data/Tourist_2.sav')
a.head()

,ID,Q1_age,Q2_gender,Q3_marital_status,Q4_fam_member,Q5_edu_qualification,Q6_occupation,Q7_visite_kuakata,Q8_room_available,Q9_hotel_quality,...,Q12_food_price,Q13_behave_local,Q14_behave_driver,Q15_behave_worker,Q16_security_system,Q17_harass_hotel,Q18_harass_outsite,Q19_friendly_envi,Q20_one_of_best,Q21_overall_thinking
0,1.0,24.0,male,unmarried,3.0,higher education,student,2,yes,neutral,...,very high,moderate,very bad,good,moderate,no,yes,yes,no,good
1,2.0,30.0,male,unmarried,5.0,higher education,student,2,yes,neutral,...,very high,moderate,bad,very good,moderate,no,yes,yes,yes,good
2,3.0,21.0,male,unmarried,5.0,higher education,student,3,yes,good,...,high,moderate,moderate,good,very good,no,no,yes,yes,good
3,4.0,30.0,male,unmarried,5.0,higher education,business,3,yes,good,...,high,very good,moderate,good,very good,no,no,no,no,moderate
4,5.0,22.0,male,unmarried,4.0,higher education,student,0,yes,very good,...,reasonable,good,moderate,very good,very good,no,no,yes,yes,very good